* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 15px 40px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #64aff3;
}

/* Hero Section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #64aff3, #ededed);
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
}

.search-box button {
  padding: 10px 20px;
  background: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background: #64aff3;
}

.scroll-effect {
  text-align: center;
  margin-top: 5px;
}

/* Result Section */
.result {
  text-align: center;
  margin: 30px auto;
}

.result img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
  /* object-position: center; */
  margin-bottom: 15px;
  border: 4px solid #64aff3;
  animation: fadeIn 1s ease-in-out;
}

.result h2 {
  margin-top: 5px;
  font-size: 24px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 16px;
  }
}
